:root {
  --color-primary: rgb(243, 232, 133);
  --color-text-primary: black;
  --font-family-regular: 'Rubik';
  --font-size-regular: 1.6rem;
  --font-weight-default: 400;
  --font-weight-bold: 600;
  --transition-default: all .2s ease;
  --line-height-regular: 1.5;
  --letter-spacing-default: 1.15;
  --width-container-tab: 90%;
  --max-width-content-pc: 102.4rem;
}
