@import '@/styles/abstracts/mixins.scss';

.container {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 0;
}

.showText {
  font-size: 2.4rem;
}

.title {
  font-weight: var(--font-weight-bold);
  font-size: 3rem;
  line-height: 1.25;
  margin: 0;
}

@include mq(tab) {
  .container {
    padding: 4rem 0;
  }

  .title {
    display: flex;
    justify-content: center;
    font-size: 3.6rem;
  }
}

@include mq(spc) {
  .container {
    padding: 6rem 0;
  }
}
