.link {
  font-size: 1.6rem;
  line-height: var(--line-height-default);
  font-weight: (--font-weight-default);
  transition: var(--transition-default);

  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    font-size: 1.4rem;
    line-height: var(--line-height-default);
    text-decoration: none;
    font-weight: var(--font-weight-bold);
  }
}

.transition {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.noUserSelect {
  user-select: none;
}

.hideText {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@include mq(tab) {
  .container {
    width: var(--width-container-tab);
  }
}

@include mq(pc) {
  .container {
    width: 100%;
    max-width: var(--max-width-content-pc);
  }
}
