@import '@/styles/abstracts/mixins.scss';

.textToSpeech {
  background-color: var(--color-primary);
  padding: 2rem;
  border-radius: 1rem;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 0.6rem
}

.item {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 2rem;
  font-weight: bold;
}

.select {
  border: 2px solid lightgray;
  padding: 0.4rem;
  border-radius: 4px;
}

.option {}

.range {}

.buttons {
  margin: 1rem auto 0;
  display: flex;
  gap: 1rem;
}

.button {
  background-color: black;
  color: white;
  padding: 0.6rem 2rem;
  border-radius: 5rem;
  transition: var(--transition-default);

  &:hover {
    color: var(--color-primary)
  }
}

@include mq(tab) {
  .item {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
}
