@import '@/styles/abstracts/mixins.scss';

.textToSpeech {
  background-color: var(--color-primary);
  padding: 2rem;
  border-radius: 1rem;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 0.6rem
}

.item {
  display: flex;
  flex-direction: column;

  input {
    width: 100%;
  }
}

.label {
  font-size: 2rem;
  font-weight: bold;
}

.select {
  border: 2px solid lightgray;
  padding: 0.4rem;
  border-radius: 4px;
}

.option {}

.range {}

.buttons {
  margin: 1rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button {
  flex: 0 0 4rem;

  &.stop {
    svg {
      width: 4rem;
      height: 4rem;
    }
  }

  &.play {
    svg {
      width: 4rem;
      height: 3.2rem
    }

    .resume {
      svg {
        // width: 5rem;
        height: 4.6rem;
      }
    }
  }

  &.pause {
    svg {
      width: 4rem;
      height: 3.2rem
    }
  }
}

@include mq(tab) {
  .item {
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    .label {
      flex: 0 0 12%;
    }

    input {
      flex: 1;
    }
  }
}
